@CHARSET "UTF-8";
div.photo {
	text-align: center;
}
div.photo img {
	border-radius: 4px;
}
/*
 * cell.
 */
.cell * {
	font-weight: normal;
}
.cell span.name {
	font-weight: bold;
}
.cell .comment {
	font-size: small;
}
span.attribute {
	display: block;
	font-size: .75em;
}
span.abv {
	color: white;
	background-color: #777777;
	padding: .2em .6em;
	border: 1px solid #cccccc;
	border-radius: .5em;
}
abbr {
	white-space: nowrap;
	line-height: 2em;
	color: white;
	background-color: #38c;
	margin: 2px;
	padding: .2em .6em;
	border-radius: .25em;
}
span.plusButton {
	background-color: #cccccc;
	margin: 2px;
	padding: .2em .6em;
	border: 1px solid #38c;
	border-radius: .25em;
	cursor: pointer;
}

/*
 * detail.
 */
#image {
	text-align: center;
}
#image img {
	max-width: 100%;
}
#detail .comment {
	white-space: pre-wrap;
}
